<div class="container">
  <div class="row my-4">
    <div class="col-md-1"></div>
    <div class="col-md-2">
      <p class="text-center bg-secondary">LifeHack一覧</p>
    </div>
  </div>

  <div class="row my-4">
    <div class="col-md-10">
      <table class="table">
        <thead>
          <tr>
            <th>ユーザーID</th>
            <th>ユーザー名</th>
            <th>タイトル</th>
            <th>タグ</th>
          </tr>
        </thead>
        <tbody>
          <% @lifehacks.each do |lifehack| %>
            <tr>
              <td><%= lifehack.user_id %></td>
              <td><%= link_to admin_user_path(lifehack.user_id) do %><%= lifehack.user.user_name %><% end %></td>
              <td><%= link_to admin_lifehack_path(lifehack.id) do %><%= lifehack.title %><% end %></td>
              <td>
                <% lifehack.lifehack_tags.each do |lifehack_tag| %>
                  <%= lifehack_tag.ltag_name %>
                <% end %>
              </td>
              <td><%= l lifehack.created_at, format: :short %></td>
              <td><%= link_to "削除", admin_lifehack_path(lifehack.id), method: :delete, class: 'btn btn-danger' %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <%= paginate @lifehacks %>
</div>
