<div class="container">
  <div class="row my-4">
    <div class="col-3"></div>
    <div class="col-7">
      <div class="row my-4">
        <h2>Welcome to New LifeHacker</h2>
      </div>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "public/shared/error_messages", resource: resource %>

        <table class="table table-borderless">
          <tr>
            <th><%= f.label :user_name, "ユーザーネーム" %></th>
            <td>
              <%= f.text_field :user_name %>
              <p>ユーザーネームは他ユーザーにも表示される名前です</p>
            </td>
          </tr>

          <tr>
            <th><%= f.label :email, "メールアドレス" %></th>
            <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
          </tr>

          <tr>
            <th><%= f.label :password, "パスワード(6文字以上)" %></th>
            <td>
              <%= f.password_field :password, autocomplete: "new-password" %>
            </td>
          </tr>

          <tr>
            <th><%= f.label :password_confirmation, "パスワード確認" %></th>
            <td><%= f.password_field :password_confirmation, autocomplete: "new-password" %></td>
          </tr>

          <tr>
            <td></td>
            <td><%= f.submit "Sign Up", class:'btn btn-primary' %></td>
          </tr>

          <tr align=center>
            <td>既に登録済みの方は→</td>
            <td><%= link_to "To Login", new_user_session_path, class: 'btn btn-outline-primary' %></td>
          </tr>

          <tr align=center>
            <td>お試し⇒</td>
            <td><%= link_to 'Guest Login', users_guest_sign_in_path, method: :post, class: 'btn btn-outline-primary' %></td>
          </tr>
        </table>
      <% end %>
    </div>
  </div>
</div>
