<div class="container">
  <div class="row my-4">
    <div class="col-md-8">
      <div>
        <%= flash[:notice] %>
      </div>
      <h2><%= @user.user_name %>さんの会員詳細</h2><!--ユーザー名表示-->
    </div>
  </div>

  <div class="row my-4">
    <div class="col-md-8">
      <table class="table table-borderless"><!--登録情報表示、編集ボタン表示-->
        <tr>
          <td></td>
          <td>
            <%= link_to edit_admin_user_path(@user.id), class: 'btn btn-success' do %>
              編集する
            <% end %>
          </td>
        </tr>
        <tr><td class="table-active text-nowrap">ユーザーネーム</td><td class="text-nowrap"><%= @user.user_name %></td></tr>
        <tr><td class="table-active text-nowrap">メールアドレス</td><td class="text-nowrap"><%= @user.email %></td></tr>
        <tr>
          <td class="table-active text-nowrap">ステータス</td>
          <td class="text-nowrap">
            <% if @user.is_deleted == false %>
              <p class="text-success"><string>有効</string></p>
            <% else %>
              <p class="text-muted"><string>退会</string></p>
            <% end %>
          </td>
        </tr>
      </table>
    </div>
  </div>

  <div class="row my-1">
    <div class="col-md-6">
      <table class="table table-bordered">
        <thead>
          <tr><th>LifeHack</th></tr><!--投稿したライフハック一覧-->
        </thead>
        <tbody>
          <tr>
            <% @lifehacks.each do |lifehack| %>
              <td><%= link_to admin_lifehack_path(lifehack.id) do %><%= lifehack.title %><% end %></td>
              <td><%= link_to "Destroy", admin_lifehack_path(lifehack.id), method: :delete, class: 'btn btn-danger', "data-confirm" => "本当に消しますか？" %></td>
            <% end %>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-md-6">
      <table class="table table-bordered">
        <thead>
          <tr><th>UsefulItem</th></tr><!--投稿した便利アイテム一覧-->
        </thead>
        <tbody>
          <tr>
            <% @items.each do |item| %>
              <td><%= link_to admin_item_path(item.id) do %><%= item.item_title %><% end %></td>
              <td><%= link_to "Destroy", admin_item_path(item.id), method: :delete, class: 'btn btn-danger', "data-confirm" => "本当に消しますか？" %></td>
            <% end %>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row my-1">
    <div class="col-md-6">
      <table class="table table-bordered">
        <thead>
          <tr><th>comment_LifeHack</th></tr><!--コメントしたライフハック一覧-->
        </thead>
        <tbody>
          <tr>
            <% @comments.each do |comment| %>
              <td><%= comment.lifehack.title %></td>
              <td><%= link_to admin_lifehack_path(comment.lifehack.id) do %><%= comment.comment %><% end %></td>
            <% end %>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-md-6">
      <table class="table table-bordered">
        <thead>
          <tr><th>comment_UsefulItem</th></tr><!--コメントした便利アイテム一覧-->
        </thead>
        <tbody>
          <tr>
            <% @item_comments.each do |item_comment| %>
              <td><%= item_comment.item.item_title %></td>
              <td><%= link_to admin_item_path(item_comment.item.id) do %><%= item_comment.item_comment %><% end %></td>
            <% end %>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
