<div class="col-3">
  <%= current_user.user_name %>

  <!-- 新規投稿フォーム -->
  <div class="row my-3">
    <div class="col-12">
      <h4>コメント投稿</h4>
        <%= form_with model: [@lifehack, @comment] do |f| %>
          <%= f.text_area :comment, size: "30", placeholder: "コメントをここに" %>
          <%= f.submit "投稿する！", class:'btn btn-sm btn-success' %>
        <% end %>
    </div>
  </div>

  <div class="row my-3">
    <div class="col-12">
      <% if @lifehack.favorited_by?(current_user) %>
        <p>
          <%= link_to lifehack_favorites_path(@lifehack), method: :delete do %>
            ♥<%= @lifehack.favorites.count %> お気に入り
          <% end %>
        </p>
      <% else %>
        <p>
          <%= link_to lifehack_favorites_path(@lifehack), method: :post do %>
            ♡<%= @lifehack.favorites.count %> お気に入り
          <% end %>
        </p>
      <% end %>
    </div>
  </div>
</div>
