<div class="container">
  <div class="row my-4">
    <div class="col-md-1"></div>
    <div class="col-md-2">
      <p class="text-center bg-secondary">編集</p>
    </div>
  </div>

  <div class="row my-4">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <%= form_with model: @lifehack, url:lifehack_path(@lifehack.id), method: :patch do |f| %>
        <table class="table table-borderless">
          <tr>
            <th>画像</th>
            <td><%= f.file_field :image, accept: "image/*" %></td>
          </tr>
          <tr>
            <th>タイトル</th>
              <td><%= f.text_field :title, size: "50" %></td>
          </tr>
          <tr>
            <th>本文</th>
              <td><%= f.text_area :body, size: "50x10" %></td>
          </tr>
          <tr>
            <td><%= f.submit '保存する！', class:'btn btn-sm btn-success' %></td>
          </tr>
        </table>
      <% end %>
    </div>
  </div>
</div>
