<div class="container">
  <div class="row my-3">
    <% if user_signed_in? %>
      <% email = current_user.email %>
      <% if email == "guest@example.com" %>
        <div class="center-block">
          <div class="center-block">
            <p class="text-center">
              コメント投稿とお気に入り登録は<br>
              本登録後に使用できます
            </p>
          </div>
          <%= link_to "ユーザー登録", new_user_registration_path, class: 'btn btn-outline-info' %>
        </div>
      <% else %>
        <%= render partial: 'c&f', locals: { comment: @comment, favorite: @favorite } %>
      <% end %>
    <% else %>
      <div class="center-block">
        <div class="center-block">
          <p class="text-center">
            コメント投稿とお気に入り登録は<br>
            ユーザー登録後に使用できます
          </p>
        </div>
        <%= link_to "ユーザー登録", new_user_registration_path, class: 'btn btn-outline-info' %>
      </div>
    <% end %>

    <div class="col-5">
      <div class="row my-3">
        <h4 class="text-center"><%= @lifehack.title %></h4>
        <div class="mx-auto">
          <%= image_tag @lifehack.get_image(400, 400) %>
        </div>
      </div>
      <div class="row my-3">
        <table class="table">
          <tbody>
            <% @comments.each do |comment| %>
              <tr>
                <td><%= comment.comment %></td>
                <td>
                  <% if current_user && comment.user.id == current_user.id %>
                    <%= link_to "Destroy", lifehack_comment_path(comment.id), method: :delete, class: 'btn btn-danger', "data-confirm" => "本当に消しますか？" %>
                  <% else %>
                    <%= comment.user.user_name %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>

    <div class="col-4">
      <div  class="center-block">
        <h5 class="text-center">
          <%= link_to user_path(@lifehack.user.id) do %>
            <%= @lifehack.user.user_name %>
          <% end %>
        </h5>
        <% @lifehack.lifehack_tags.each do |lifehack_tag| %>
          <%= lifehack_tag.ltag_name %>
        <% end %>
      </div>
      <%= @lifehack.body %>
    </div>
  </div>
</div>
