<div class="col-3">
  <%= current_user.user_name %>

  <!-- 新規投稿フォーム -->
  <div class="row my-3">
    <div class="col-12">
      <h4>コメント投稿</h4>
        <%= form_with model: [@item, @item_comment] do |f| %>
          <%= f.text_area :item_comment, size: "30", placeholder: "コメントをここに" %>
          <%= f.submit "投稿する！", class:'btn btn-sm btn-success' %>
        <% end %>
    </div>
  </div>
  
  <!-- お気に入り登録ボタン -->
  <div class="row my-3">
    <div class="col-12">
      <% if @item.item_favorited_by?(current_user) %>
        <p>
          <%= link_to item_item_favorites_path(@item), method: :delete do %>
            ♥<%= @item.item_favorites.count %> お気に入り
          <% end %>
        </p>
      <% else %>
        <p>
          <%= link_to item_item_favorites_path(@item), method: :post do %>
            ♡<%= @item.item_favorites.count %> お気に入り
          <% end %>
        </p>
      <% end %>
    </div>
  </div>
</div>
