<div class="container">
  <div class="row my-4">
    <div class="col-md-1"></div>
    <div class="col-md-3">
      <h2>便利アイテム記事　編集</h2>
    </div>
  </div>

  <div class="row my-4">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <%= form_with model: @item, url: item_path(@item.id), method: :patch do |f| %>
        <div class="row my-4">
          <div class="col-md-4">
            <p>画像</p>
          </div>
          <div class="field col-md-8">
            <%= f.file_field :image, accept: "image/*" %>
          </div>
        </div>
        
        <div class="row my-4">
          <div class="col-md-4">
            <p>タイトル</p>
          </div>
          <div class="field col-md-8">
            <%= f.text_field :item_title, size: "50" %>
          </div>
        </div>
        
        <div class="row my-4">
          <div class="col-md-4">
            <p>本文</p>
          </div>
          <div class="field col-md-8">
            <%= f.text_area :item_body, size: "50x10" %>
          </div>
        </div>
        
        <%= f.fields_for :item_tags do |tag| %>
          <div class="row my-4">
            <p>タグ</p>
          </div>
          <div class="field col-md-8">
            <%= tag.text_field :itag_name, size: "40" %>
          </div>
        <% end %>
        
        <div class="row my-4">
          <div class="col-md-4">
            <div class="field col-md-6">
              <%= f.submit '保存する！', class:'btn btn-sm btn-success' %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
