<div class="card-list-container py-5">
  <div class="row">
    <div class="col-md-9"></div>
    <div class="col-md-2">
      <% if user_signed_in? %>
          <% email = current_user.email %>
          <% if email == "guest@example.com" %>
            <h4>投稿機能の利用は本登録が必要です</h4>
          <% else %>
            <h1>
              <%= link_to new_item_path, class: 'text-dark' do %>
                +
              <% end %>
            </h1>
          <% end %>
        <% else %>
          <h4>投稿機能の利用は登録ユーザー限定です</h4>
        <% end %>
    </div>
  </div>

  <% @items.each do |item| %>
    <div class="card w-50 mx-auto mt-4 shadow-lg">
      <%= link_to item_path(item.id) do %>
        <%= image_tag item.get_image(300, 250), class:"card-img-top"; %>
      <% end %>

      <div class="card-body">
        <div class="row">
          <div class="col-10">
            <p class="card-title">
              <%= link_to item_path(item.id), class:"text-dark" do %>
                <strong><i class="far fa-flag"></i><span> <%= item.item_title %></span></strong>
              <% end %>
            </p>
            <span>
              <i class="fas fa-user"></i>
              By <%= item.user.user_name %> ｜
              <% item.item_tags.each do |item_tag| %>
                <%= item_tag.itag_name %>
              <% end %>
              <%= l item.created_at, format: :short %>
            </span>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <%= paginate @items %>
</div>
